.govuk-template__body {
	margin: 0;
	background-color: #ffffff;
}

.govuk-skip-link {
	font-family: "GDS Transport", arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: underline;
	text-decoration-thickness: max(1px, 0.0625rem);
	text-underline-offset: 0.1578em;
	font-size: 0.875rem;
	line-height: 1.1428571429;
	display: block;
	padding: 10px 15px;
}
.govuk-skip-link:not(:active):not(:focus) {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	margin: 0 !important;
	padding: 0 !important;
	overflow: hidden !important;
	clip: rect(0 0 0 0) !important;
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important;
	border: 0 !important;
	white-space: nowrap !important;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
@media print {
	.govuk-skip-link {
		font-family: sans-serif;
	}
}
.govuk-skip-link:link,
.govuk-skip-link:visited {
	color: #0b0c0c;
}
@media print {
	.govuk-skip-link:link,
	.govuk-skip-link:visited {
		color: #000000;
	}
}
.govuk-skip-link:hover {
	color: rgba(11, 12, 12, 0.99);
}
.govuk-skip-link:active,
.govuk-skip-link:focus {
	color: #0b0c0c;
}
@media print {
	.govuk-skip-link:active,
	.govuk-skip-link:focus {
		color: #000000;
	}
}
@media (min-width: 40.0625em) {
	.govuk-skip-link {
		font-size: 1rem;
		line-height: 1.25;
	}
}
@media print {
	.govuk-skip-link {
		font-size: 14pt;
		line-height: 1.2;
	}
}
@supports (padding: max(calc(0px))) {
	.govuk-skip-link {
		padding-right: max(15px, calc(15px + env(safe-area-inset-right)));
		padding-left: max(15px, calc(15px + env(safe-area-inset-left)));
	}
}
.govuk-skip-link:focus {
	outline: 3px solid #ffdd00;
	outline-offset: 0;
	background-color: #ffdd00;
	text-decoration: underline;
	text-decoration-thickness: max(1px, 0.0625rem);
	text-underline-offset: 0.1578em;
	box-shadow: none;
}

.govuk-skip-link-focused-element:focus {
	outline: none;
}

.govuk-header {
	font-family: "GDS Transport", arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 400;
	font-size: 0.875rem;
	line-height: 1;
	border-bottom: 10px solid #ffffff;
	color: #ffffff;
	background: #0b0c0c;
}

.govuk-header__container {
	position: relative;
	margin-bottom: -10px;
	padding-top: 10px;
	border-bottom: 10px solid #1d70b8;
}
.govuk-header__container::after {
	content: "";
	display: block;
	clear: both;
}

.govuk-width-container {
	max-width: 960px;
	margin-right: 15px;
	margin-left: 15px;
}
@supports (margin: max(calc(0px))) {
	.govuk-width-container {
		margin-right: max(15px, calc(15px + env(safe-area-inset-right)));
		margin-left: max(15px, calc(15px + env(safe-area-inset-left)));
	}
}
@media (min-width: 40.0625em) {
	.govuk-width-container {
		margin-right: 30px;
		margin-left: 30px;
	}
	@supports (margin: max(calc(0px))) {
		.govuk-width-container {
			margin-right: max(30px, calc(15px + env(safe-area-inset-right)));
			margin-left: max(30px, calc(15px + env(safe-area-inset-left)));
		}
	}
}
@media (min-width: 1020px) {
	.govuk-width-container {
		margin-right: auto;
		margin-left: auto;
	}
	@supports (margin: max(calc(0px))) {
		.govuk-width-container {
			margin-right: auto;
			margin-left: auto;
		}
	}
}

.govuk-header__logo,
.govuk-header__content {
	box-sizing: border-box;
}

.govuk-header__logo {
	margin-bottom: 10px;
	padding-right: 80px;
}
@media (min-width: 48.0625em) {
	.govuk-header__logo {
		width: 33.33%;
		padding-right: 15px;
		float: left;
		vertical-align: top;
	}
	.govuk-header__logo:last-child {
		width: auto;
		padding-right: 0;
		float: none;
	}
}

.govuk-header__link {
	text-decoration: none;
}
.govuk-header__link:link,
.govuk-header__link:visited {
	color: #ffffff;
}
.govuk-header__link:hover,
.govuk-header__link:active {
	color: rgba(255, 255, 255, 0.99);
}
.govuk-header__link:focus {
	color: #0b0c0c;
}
.govuk-header__link:hover {
	text-decoration: underline;
	text-decoration-thickness: 3px;
	text-underline-offset: 0.1578em;
}
.govuk-header__link:focus {
	outline: 3px solid transparent;
	color: #0b0c0c;
	background-color: #ffdd00;
	box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
	text-decoration: none;
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
}

.govuk-header__link--homepage {
	display: inline-block;
	margin-right: 10px;
	font-size: 30px;
}
@media (min-width: 48.0625em) {
	.govuk-header__link--homepage {
		display: inline;
	}
	.govuk-header__link--homepage:focus {
		box-shadow: 0 0 #ffdd00;
	}
}
.govuk-header__link--homepage:link,
.govuk-header__link--homepage:visited {
	text-decoration: none;
}
.govuk-header__link--homepage:hover,
.govuk-header__link--homepage:active {
	margin-bottom: -3px;
	border-bottom: 3px solid;
}
.govuk-header__link--homepage:focus {
	margin-bottom: 0;
	border-bottom: 0;
}

.govuk-header__logotype {
	display: inline-block;
	position: relative;
	top: -3px;
	margin-right: 5px;
	fill: currentcolor;
	vertical-align: top;
}

@media (min-width: 48.0625em) {
	.govuk-header__content {
		width: 66.66%;
		padding-left: 15px;
		float: left;
	}
}

.govuk-header__service-name {
	display: inline-block;
	margin-bottom: 10px;
	font-size: 1.125rem;
	line-height: 1.1111111111;
	font-weight: 700;
}
@media (min-width: 40.0625em) {
	.govuk-header__service-name {
		font-size: 1.5rem;
		line-height: 1.25;
	}
}
@media print {
	.govuk-header__service-name {
		font-size: 18pt;
		line-height: 1.15;
	}
}

.govuk-width-container {
	max-width: 960px;
	margin-right: 15px;
	margin-left: 15px;
}
@supports (margin: max(calc(0px))) {
	.govuk-width-container {
		margin-right: max(15px, calc(15px + env(safe-area-inset-right)));
		margin-left: max(15px, calc(15px + env(safe-area-inset-left)));
	}
}
@media (min-width: 40.0625em) {
	.govuk-width-container {
		margin-right: 30px;
		margin-left: 30px;
	}
	@supports (margin: max(calc(0px))) {
		.govuk-width-container {
			margin-right: max(30px, calc(15px + env(safe-area-inset-right)));
			margin-left: max(30px, calc(15px + env(safe-area-inset-left)));
		}
	}
}
@media (min-width: 1020px) {
	.govuk-width-container {
		margin-right: auto;
		margin-left: auto;
	}
	@supports (margin: max(calc(0px))) {
		.govuk-width-container {
			margin-right: auto;
			margin-left: auto;
		}
	}
}
.govuk-main-wrapper {
	display: block;
	padding-top: 20px;
	padding-bottom: 20px;
}
@media (min-width: 40.0625em) {
	.govuk-main-wrapper {
		padding-top: 40px;
		padding-bottom: 40px;
	}
}

.govuk-main-wrapper--auto-spacing:first-child,
.govuk-main-wrapper--l {
	padding-top: 30px;
}
@media (min-width: 40.0625em) {
	.govuk-main-wrapper--auto-spacing:first-child,
	.govuk-main-wrapper--l {
		padding-top: 50px;
	}
}

.govuk-grid-row {
	margin-right: -15px;
	margin-left: -15px;
}
.govuk-grid-row::after {
	content: "";
	display: block;
	clear: both;
}

.govuk-grid-column-one-quarter {
	box-sizing: border-box;
	width: 100%;
	padding: 0 15px;
}
@media (min-width: 40.0625em) {
	.govuk-grid-column-one-quarter {
		width: 25%;
		float: left;
	}
}

.govuk-grid-column-one-third {
	box-sizing: border-box;
	width: 100%;
	padding: 0 15px;
}
@media (min-width: 40.0625em) {
	.govuk-grid-column-one-third {
		width: 33.3333333333%;
		float: left;
	}
}

.govuk-grid-column-one-half {
	box-sizing: border-box;
	width: 100%;
	padding: 0 15px;
}
@media (min-width: 40.0625em) {
	.govuk-grid-column-one-half {
		width: 50%;
		float: left;
	}
}

.govuk-grid-column-two-thirds {
	box-sizing: border-box;
	width: 100%;
	padding: 0 15px;
}
@media (min-width: 40.0625em) {
	.govuk-grid-column-two-thirds {
		width: 66.6666666667%;
		float: left;
	}
}

.govuk-grid-column-three-quarters {
	box-sizing: border-box;
	width: 100%;
	padding: 0 15px;
}
@media (min-width: 40.0625em) {
	.govuk-grid-column-three-quarters {
		width: 75%;
		float: left;
	}
}

.govuk-grid-column-full {
	box-sizing: border-box;
	width: 100%;
	padding: 0 15px;
}
@media (min-width: 40.0625em) {
	.govuk-grid-column-full {
		width: 100%;
		float: left;
	}
}

.govuk-grid-column-one-quarter-from-desktop {
	box-sizing: border-box;
	padding: 0 15px;
}
@media (min-width: 48.0625em) {
	.govuk-grid-column-one-quarter-from-desktop {
		width: 25%;
		float: left;
	}
}

.govuk-grid-column-one-third-from-desktop {
	box-sizing: border-box;
	padding: 0 15px;
}
@media (min-width: 48.0625em) {
	.govuk-grid-column-one-third-from-desktop {
		width: 33.3333333333%;
		float: left;
	}
}

.govuk-grid-column-one-half-from-desktop {
	box-sizing: border-box;
	padding: 0 15px;
}
@media (min-width: 48.0625em) {
	.govuk-grid-column-one-half-from-desktop {
		width: 50%;
		float: left;
	}
}

.govuk-grid-column-two-thirds-from-desktop {
	box-sizing: border-box;
	padding: 0 15px;
}
@media (min-width: 48.0625em) {
	.govuk-grid-column-two-thirds-from-desktop {
		width: 66.6666666667%;
		float: left;
	}
}

.govuk-grid-column-three-quarters-from-desktop {
	box-sizing: border-box;
	padding: 0 15px;
}
@media (min-width: 48.0625em) {
	.govuk-grid-column-three-quarters-from-desktop {
		width: 75%;
		float: left;
	}
}

.govuk-grid-column-full-from-desktop {
	box-sizing: border-box;
	padding: 0 15px;
}
@media (min-width: 48.0625em) {
	.govuk-grid-column-full-from-desktop {
		width: 100%;
		float: left;
	}
}

.govuk-heading-l {
	color: #0b0c0c;
	font-family: "GDS Transport", arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 1.0416666667;
	display: block;
	margin-top: 0;
	margin-bottom: 20px;
}
@media print {
	.govuk-heading-l {
		color: #000000;
	}
}
@media print {
	.govuk-heading-l {
		font-family: sans-serif;
	}
}
@media (min-width: 40.0625em) {
	.govuk-heading-l {
		font-size: 2.25rem;
		line-height: 1.1111111111;
	}
}
@media print {
	.govuk-heading-l {
		font-size: 24pt;
		line-height: 1.05;
	}
}
@media (min-width: 40.0625em) {
	.govuk-heading-l {
		margin-bottom: 30px;
	}
}

.govuk-section-break {
	margin: 0;
	border: 0;
}

.govuk-section-break--xl {
	margin-top: 30px;
	margin-bottom: 30px;
}
@media (min-width: 40.0625em) {
	.govuk-section-break--xl {
		margin-top: 50px;
	}
}
@media (min-width: 40.0625em) {
	.govuk-section-break--xl {
		margin-bottom: 50px;
	}
}

.govuk-section-break--visible {
	border-bottom: 1px solid #b1b4b6;
}

.govuk-heading-xl {
	color: #0b0c0c;
	font-family: "GDS Transport", arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 700;
	font-size: 2rem;
	line-height: 1.09375;
	display: block;
	margin-top: 0;
	margin-bottom: 30px;
}
@media print {
	.govuk-heading-xl {
		color: #000000;
	}
}
@media print {
	.govuk-heading-xl {
		font-family: sans-serif;
	}
}
@media (min-width: 40.0625em) {
	.govuk-heading-xl {
		font-size: 3rem;
		line-height: 1.0416666667;
	}
}
@media print {
	.govuk-heading-xl {
		font-size: 32pt;
		line-height: 1.15;
	}
}
@media (min-width: 40.0625em) {
	.govuk-heading-xl {
		margin-bottom: 50px;
	}
}

.govuk-footer {
	font-family: "GDS Transport", arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 400;
	font-size: 0.875rem;
	line-height: 1.1428571429;
	padding-top: 25px;
	padding-bottom: 15px;
	border-top: 1px solid #b1b4b6;
	color: #0b0c0c;
	background: #f3f2f1;
}
@media print {
	.govuk-footer {
		font-family: sans-serif;
	}
}
@media (min-width: 40.0625em) {
	.govuk-footer {
		font-size: 1rem;
		line-height: 1.25;
	}
}
@media print {
	.govuk-footer {
		font-size: 14pt;
		line-height: 1.2;
	}
}
@media (min-width: 40.0625em) {
	.govuk-footer {
		padding-top: 40px;
	}
}
@media (min-width: 40.0625em) {
	.govuk-footer {
		padding-bottom: 25px;
	}
}

.govuk-footer__link {
	font-family: "GDS Transport", arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-decoration: underline;
	text-decoration-thickness: max(1px, 0.0625rem);
	text-underline-offset: 0.1578em;
}
@media print {
	.govuk-footer__link {
		font-family: sans-serif;
	}
}
.govuk-footer__link:hover {
	text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
	-webkit-text-decoration-skip-ink: none;
	text-decoration-skip-ink: none;
	-webkit-text-decoration-skip: none;
	text-decoration-skip: none;
}
.govuk-footer__link:focus {
	outline: 3px solid transparent;
	color: #0b0c0c;
	background-color: #ffdd00;
	box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
	text-decoration: none;
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
}
.govuk-footer__link:link,
.govuk-footer__link:visited {
	color: #0b0c0c;
}
@media print {
	.govuk-footer__link:link,
	.govuk-footer__link:visited {
		color: #000000;
	}
}
.govuk-footer__link:hover {
	color: rgba(11, 12, 12, 0.99);
}
.govuk-footer__link:active,
.govuk-footer__link:focus {
	color: #0b0c0c;
}
@media print {
	.govuk-footer__link:active,
	.govuk-footer__link:focus {
		color: #000000;
	}
}

.govuk-footer__section-break {
	margin: 0;
	margin-bottom: 30px;
	border: 0;
	border-bottom: 1px solid #b1b4b6;
}
@media (min-width: 40.0625em) {
	.govuk-footer__section-break {
		margin-bottom: 50px;
	}
}

.govuk-footer__meta {
	display: flex;
	margin-right: -15px;
	margin-left: -15px;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: center;
}

.govuk-footer__meta-item {
	margin-right: 15px;
	margin-bottom: 25px;
	margin-left: 15px;
}

.govuk-footer__meta-item--grow {
	flex: 1;
}
@media (max-width: 40.0525em) {
	.govuk-footer__meta-item--grow {
		flex-basis: 320px;
	}
}

.govuk-footer__licence-logo {
	display: inline-block;
	margin-right: 10px;
	vertical-align: top;
	forced-color-adjust: auto;
}
@media (max-width: 48.0525em) {
	.govuk-footer__licence-logo {
		margin-bottom: 15px;
	}
}

.govuk-footer__licence-description {
	display: inline-block;
}

.govuk-footer__copyright-logo {
	display: inline-block;
	min-width: 125px;
	padding-top: 112px;
	background-image: url("/plugin-assets/govuk-frontend/dist/govuk/assets/images/govuk-crest.png");
	background-repeat: no-repeat;
	background-position: 50% 0%;
	background-size: 125px 102px;
	text-align: center;
	white-space: nowrap;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-resolution: 192dpi),
	only screen and (min-resolution: 2dppx) {
	.govuk-footer__copyright-logo {
		background-image: url("/plugin-assets/govuk-frontend/dist/govuk/assets/images/govuk-crest-2x.png");
	}
}

.govuk-footer__inline-list {
	margin-top: 0;
	margin-bottom: 15px;
	padding: 0;
}

.govuk-footer__meta-custom {
	margin-bottom: 20px;
}

.govuk-footer__inline-list-item {
	display: inline-block;
	margin-right: 15px;
	margin-bottom: 5px;
}

.govuk-footer__heading {
	margin-bottom: 30px;
	padding-bottom: 20px;
	border-bottom: 1px solid #b1b4b6;
}
@media (max-width: 40.0525em) {
	.govuk-footer__heading {
		padding-bottom: 10px;
	}
}

.govuk-footer__navigation {
	margin-right: -15px;
	margin-left: -15px;
}
.govuk-footer__navigation::after {
	content: "";
	display: block;
	clear: both;
}

.govuk-footer__section {
	display: inline-block;
	margin-bottom: 30px;
	vertical-align: top;
}

.govuk-footer__list {
	margin: 0;
	padding: 0;
	list-style: none;
	column-gap: 30px;
}

@media (min-width: 48.0625em) {
	.govuk-footer__list--columns-2 {
		column-count: 2;
	}
	.govuk-footer__list--columns-3 {
		column-count: 3;
	}
}
.govuk-footer__list-item {
	margin-bottom: 15px;
}
@media (min-width: 40.0625em) {
	.govuk-footer__list-item {
		margin-bottom: 20px;
	}
}

.govuk-footer__list-item:last-child {
	margin-bottom: 0;
}

.govuk-footer__copyright-logo {
	display: inline-block;
	min-width: 125px;
	padding-top: 112px;
	background-image: url("govuk-crest-2x.png");
	background-repeat: no-repeat;
	background-position: 50% 0%;
	background-size: 125px 102px;
	text-align: center;
	white-space: nowrap;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-resolution: 192dpi),
	only screen and (min-resolution: 2dppx) {
	.govuk-footer__copyright-logo {
		background-image: url("govuk-crest-2x.png");
	}
}
